<form [formGroup]="form" (ngSubmit)="onSubmit($event)"
  class="grid w-full gap-4 p-4 bg-white rounded-lg shadow-lg sm:gap-6 lg:p-8">
  <!-- first name -->
  <div>
    <div class="relative">
      <input formControlName="firstName" class="p-4 font-semibold" placeholder="First Name" type="text" />

      <img *ngIf="firstName.touched && firstName.errors" class="absolute -translate-y-1/2 top-1/2 right-6"
        src="/assets/images/icon-error.svg" alt="Error icon" />
    </div>
    <p *ngIf="firstName.touched && firstName.errors?.['required']"
      class="mt-2 text-sm italic font-semibold text-right text-danger">
      First Name cannot be empty
    </p>
  </div>
  <!-- end first name -->

  <!-- last name -->
  <div>
    <div class="relative">
      <input formControlName="lastName" class="p-4 font-bold" placeholder="Last name" type="text" />

      <img *ngIf="lastName.touched && lastName.errors" class="absolute -translate-y-1/2 top-1/2 right-6"
        src="/assets/images/icon-error.svg" alt="Error icon" />
    </div>
    <p *ngIf="lastName.touched && lastName.errors?.['required']"
      class="mt-2 text-sm italic font-semibold text-right text-danger">
      Last Name cannot be empty
    </p>
  </div>
  <!-- end last name -->

  <!-- email accress -->
  <div>
    <div class="relative">
      <input formControlName="email" class="p-4 font-bold" placeholder="Email" type="text" />

      <img *ngIf="email.touched && email.errors" class="absolute -translate-y-1/2 top-1/2 right-6"
        src="/assets/images/icon-error.svg" alt="Error icon" />
    </div>

    <!-- email is required -->
    <p *ngIf="email.touched && email.errors?.['required']"
      class="mt-2 text-sm italic font-semibold text-right text-danger">
      Email cannot be empty
    </p>
    <!-- end email is required -->

    <!-- email is invalid -->
    <p *ngIf="email.touched && email.errors?.['email']"
      class="mt-2 text-sm italic font-semibold text-right text-danger">
      Looks like this is not an email
    </p>
    <!-- end email is invalid -->
  </div>
  <!-- end email acress -->

  <!-- password -->
  <div>
    <div class="relative">
      <input formControlName="password" class="p-4 font-bold" placeholder="Password" type="password" />

      <img *ngIf="password.touched && password.errors" class="absolute -translate-y-1/2 top-1/2 right-6"
        src="/assets/images/icon-error.svg" alt="Error icon" />
    </div>
    <p *ngIf="password.touched && password.errors?.['required']"
      class="mt-2 text-sm italic font-semibold text-right text-danger">
      Password cannot be empty
    </p>
  </div>
  <!-- end password -->

  <!-- submit -->
  <button class="w-full btn btn-success">Clam your free trial</button>
  <!-- end submit -->

  <div class="text-sm text-center">
    <span class="text-muted">By clicking the button, are agreeing to our
    </span>
    <a href="#" class="text-danger font-bold hover:border-b hover:border-danger">Terms and Services</a>
  </div>
</form>
